@page "/"

<h1> 운영 도구 </h1>

<div>
    <NavLink href="/userInfo" class="btn btn-primary btn-lg w-100 mb-3">
        계정 DB 조회
    </NavLink>
</div>

<div>
    <NavLink href="/userInfo" class="btn btn-primary btn-lg w-100">
        게임 DB 조회 TODO
    </NavLink>
</div>