@page "/"

<h1> 운영 도구 </h1>

<div>
    <NavLink href="/userInfo" class="btn btn-primary btn-lg w-100 mb-3">
        계정 목록 조회 (Account DB)
    </NavLink>
</div>

<div>
    <NavLink href="/users" class="btn btn-primary btn-lg w-100">
        유저 목록 조회 (GameServer DB)
    </NavLink>
</div>